{% extends 'Base.html' %}

    {% block 'content' %}   
    
        <div class="container text-center">
            {% if my_answer %}    
            <div class="alert alert-{{color}} alert-dismissible fade show" role="alert">
                {{ my_answer }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            
            <main role="main" class="inner cover">
            
                <h1 class="display-3">Subtract</h1>  
                <br>
                <h1>{{num1}} + {{num2}}</h1>
                <br>
                <form action="{% url 'add' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    <center>
                    <input type="text" class="form-control" name="answer" placeholder="Type your answer here...">
                    <input type="hidden" name="old_num1" value="{{num1}}"/>
                    <input type="hidden" name="old_num2" value="{{num2}}"/>
                    </center>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
          
            </main>
        </div>

    {% endblock %}