{% extends 'Base.html' %}
{% block 'content' %}
<main role="main">

  <section class="jumbotron text-center bg-dark">
    <div class="container">
      <h1 style="color:black;" class="jumbotron-heading">Search YouTube</h1>
      <p class="lead text-muted">Get the top nine results on YouTube for your query!</p>
        <form method="POST">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" aria-label="Username">
          </div>
          <p>
            <button type="submit" name="submit" value="search" class="btn btn-primary my-2">YouTube Search</button>
            <button type="submit" name="submit" value="lucky" class="btn btn-primary">I'm Feeling Lucky</button>
          </p>
        </form>
    </div>
  </section>
  {% if videos %}
  <br>
  <div class="album py-2 bg-dark">
    <div class="container">
      <div class="row">
        {% for video in videos %}
        <div class="col-md-4">
          <div class="card text-white bg-dark mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{video.thumbnail}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="card-body">
              <p class="card-text">{{ video.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{video.url}}" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
                <small class="text-muted">{{ video.duration }} mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</main>
{% endblock %}