{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cover.css' %}">

    <title>SitePages</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'album.css' %}" rel="stylesheet">

  </head>
  <body class="text-center">

      <div class="cover-container d-flex p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <h3><a class="navbar-brand" href="home">InhumanCollectiveSitePages</a></h3>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
    
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add' %}">Add</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'subtract' %}">Subtract</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'multiply' %}">Multiply</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'divide' %}">Divide</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dictionary' %}">Dictionary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'youtube' %}">Youtube</a>
              </li>
            </ul>
            
          </div>
        </nav>
      </header>
      
        
          {% block 'content' %}
          {% endblock %}
        
          <footer class="mt-auto">
            <div class="inner">
              <p>Developed By: Bhavik Brahmbhatt</p>
            </div>
          </footer>
        </div>
  
  
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    </body>
  
  </html>      