{% extends 'Base.html' %}

{% block 'content' %}   
    <center>
        {% if my_answer %}    
        <div class="alert alert-{{color}} alert-dismissible fade show" role="alert">
            {{ my_answer }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <span class="d-block p-2 bg-dark text-white">
            <center>
                <h1 class="display-4">Division</h1>
            </center>
        </span>
        <br>
        <h1>{{ num1 }} / {{ num2 }}</h1>
        <br>
        <form action="{% url 'divide' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
            
            <input type="text" class="form-control" name="answer" placeholder="Type your answer here...">
            <input type="hidden" name="old_num1" value="{{num1}}"/>
            <input type="hidden" name="old_num2" value="{{num2}}"/>
            </div>
            <br>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    
    </center>
{% endblock %}