{% extends 'Base.html' %}

{% block 'content' %}

    <h2> Hemlo, Guys :)</h2>
    <h2> Welcome to my General purpose Collective Sitepages.</h2>
    <br>
    <h5> First 4 pages are for testing your maths skills...</h5>
    <h5> You could still have some fun guessing the correct answers for different values.... </h5>
    <h5> So, Good luck with it.</h5>
    <h5> 5th page is Urban Dictionary. This is different than normal dictionaries you may be familiar with, So check it out.</h5>
    <h5> 6th page is YouTube page. Which shows you 9 videos when clicked will redirect you to YouTube. </h5>
    <h5> Kek. </h5>
    
{% endblock %}